.leaflet-popup-content-wrapper {
  border-radius: 0;
}
.leaflet-popup-content {
  text-align: center;
}
/* crossroad charts */
.chart-container {
  height: 400px !important; /* Adjust the value as per your requirement */
}
.chart-container .apexcharts-canvas {
  width: 100%;
}
/* custom control buttons */

.control-button {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.control-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.control-button .icon {
  color: #333; /* You can adjust the icon color based on your theme */
}

/* animation for a pie chart */

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6),
      0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.2),
      0 0 25px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
      0 0 20px rgba(255, 255, 255, 0.4), 0 0 25px rgba(255, 255, 255, 0.2),
      0 0 35px rgba(255, 255, 255, 0.1);
  }
}

.animate-pulse {
  animation: neon 1s infinite alternate;
}

/* #monitoring .leaflet-top {
  top: 50%;
  transform: translate(0%, -50%);
} */

/* popup juda katta bop ketgan kichraytirish */
.leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important; /* If you also want to remove padding */
}
