/* 
.leaflet-control-layers {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.leaflet-control-zoom {
  background-color: transparent;
  box-shadow: none;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.leaflet-control-zoom-in:before,
.leaflet-control-zoom-out:before {
  color: #000;
} */

.pie-icon {
  position: relative;
  width: 40px;
  height: 40px;
}

.pie-icon span {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cluster {
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.chart-container {
  background: #fff !important;
}
