/* .Popup > div {
  width: 25vw;
} */
.leaflet-popup-content-wrapper {
  border-radius: 0;
}
.leaflet-popup-content {
  text-align: center;
}
/* 
.leaflet-popup-content > iframe {
  height: 100%;
} */
.chart-container {
  height: 400px !important; /* Adjust the value as per your requirement */
}
.chart-container .apexcharts-canvas {
  width: 100%;
}

/* .custom-popup-open {
  z-index: 1000;
  display: block;
}

.custom-popup-closed {
  z-index: -1;
  display: none;
} */
