/* .leaflet-popup-close-button {
  z-index: 50000000;
} */

.custom-popup .leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important;
}
.custom-popup .leaflet-popup-content-wrapper {
  padding: 0;
  margin: 0;
  background: transparent;
}

.leaflet-popup-content {
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important;
}

.leaflet-tooltip-pane {
  background: transparent !important;
}
.leaflet-popup-close-button {
  color: white !important;
}
/* 
.custom-popup .leaflet-popup-tip-container {
  left: 50%;
  transform: translateX(-50%);
}

.custom-popup.zoomed .leaflet-popup-content-wrapper,
.custom-popup.zoomed .leaflet-popup-content {
  transition: all 0.3s ease-in-out;
} */
