.custom-marker-content {
  transform: scale(1); /* Ensures that the icon size remains the same */
  transform-origin: center center; /* Keeps the scaling centered */
}
.close-button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
